body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

button {
    padding: 1rem 2rem;
    background-color: antiquewhite;
}

div {
    border: 5px red solid;
}