body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 90%;
    margin: auto;
}

ul {
    list-style: none;
}


nav ul {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

button {
    padding: 1rem 2rem;
    background-color: antiquewhite;
}

div {
    border: 2px red solid;

}

.icon {
    width: 100px;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#content div {
    padding: 1rem;
}