*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 90%;
    margin: auto;
}

ul {
    list-style: none;
}

.item-name {
  font-weight: bold;
}


nav ul {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

button {
    padding: 1rem 2rem;
    /*background-color: antiquewhite; */
}

div {
    border: 2px red solid;

}

.icon {
    width: 100px;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#content div {
    padding: 1rem;
}